body {
  background: #efefef;
}

#ret {
  margin: 64px;
  text-align: center;
  cursor: pointer;
}

#btn:hover {
  opacity: 0.9;
}

#btn:active {
  box-shadow: 0 5px 0 #d1483e;
  margin-top: 35px;
}